<div class="settings-container">
  <h2>Settings</h2>
  <form [formGroup]="settingsForm" (ngSubmit)="updateDatabase()">
    <div>
      <label for="weatherAPIKey">WeatherStack API Key:</label>
      <input type="text" id="weatherAPIKey" formControlName="weatherAPIKey" />
    </div>
    <div>
      <label for="regularAPIKey">oAuth2 API Key:</label>
      <input type="text" id="regularAPIKey" formControlName="regularAPIKey" />
    </div>
    <button type="submit">Save Changes</button>
  </form>
</div>
