<header class="title-bar-container">
  <div style="height: 100%">
    <div class="window-controls-container" style="display: flex; height: 100%">
      <button
        mat-icon-button
        matTooltip="Close"
        class="window-control-btn"
        (click)="closeWindow()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Maximize"
        class="window-control-btn"
        (click)="maximizeWindow()"
      >
        <mat-icon>open_in_full</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Minimize"
        class="window-control-btn"
        (click)="minimizeWindow()"
      >
        <mat-icon>minimize</mat-icon>
      </button>
    </div>
    <div class="app-routing-container">
      <button (click)="navigateTo('dashboard')" class="app-routing-btn">
        Dashboard
      </button>
      <button (click)="navigateTo('settings')" class="app-routing-btn">
        Settings
      </button>
      @if (!isLoggedIn) {
        <button (click)="handleLogin()" class="app-routing-btn">Login</button>
      } @else {
        <button (click)="handleLogout()" class="app-routing-btn">Logout</button>
      }
    </div>
    <div class="app-title-container">Weather App with Angular and Electron</div>
  </div>
</header>
